body {
  background-color: black;
  text-align: center;
  color: white;
  background-color: rgb(5, 75, 133 )
}


#myCanvas {
  background-image: url("https://cdn11.bigcommerce.com/s-fe280/images/stencil/1000x1316/uploaded_images/how-to-body-surf-with-or-without-a-body-surfing-handboard-and-swim-fins.jpg?t=1543968296");
  background-size: 800px;
  border-radius: 30px;
  border: 5px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

 



 
